@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");

html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

html {
  --light-blue-color: #effafa;
  --white-color: #fff;
  --black-color: #2b3939;
  --blue-color: #5ca5a5;
  --medium-blue-color: #5ca4a5;
  --light-grey-color: #7c8f8f;
  --font-spartan: "Spartan", sans-serif;
}

body {
  background: var(--light-blue-color);
  font-family: var(--font-spartan);

  .App {
    max-width: 1366px;
    width: 100%;
    margin: auto;

    h2 {
      font-weight: 700;
      font-size: 24px;
      line-height: 15px;
      color: var(--black-color);
      transition: color 0.2s ease-in;

      @media only screen and (min-width: 750px) {
        font-size: 18px;
        line-height: 24px;
      }

      &:hover {
        color: var(--blue-color);
      }
    }

    a {
      text-decoration: none;
      color: initial;

      &.link.secondary {
        position: relative;
        font-family: var(--font-josefin);
        font-weight: 900;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #24303e;

        &:after {
          position: absolute;
          content: "";
          width: 100%;
          height: 10px;
          background: #fef2b9;
          left: 0;
          bottom: 0;
          border-radius: 25px;
          z-index: -1;
        }
      }
    }
  }
}
